h1 {
  font-size: 60px;
}

%indicator {
  font-weight: 300;
  font-size: 35px;
}

%new-button {
  padding-top: 20px;
  align-self: center;
}

.symbol {
  @extend %indicator;
}

.symbol:hover {
  cursor:pointer;
}