//fonts
$font-signika-negative: 'Signika Negative', sans-serif;

//colors

$color-black: #131112;
$color-white: #eff7ff;
$color-low-contrast-blue: #7389ae;
$color-green: #31e981;
$color-red: #db3a34;
$color-yellow: #ffd151;
$color-gray: #39393a;